<font size="50">Fecal Finder was developed by poopers, for poopers.</font>

<h1 id="centered">At FECAL FINDER we believe you should poop where you feel invited. Join the poop revolution, start a movement today! </h1>
<h2>Sign up to be a member of the FECAL FINDER Family for LIFE!</h2>
