<h1>{{title}}</h1>
<p>Welcome to My New {{title}} Site</p>
{{!-- {{fixed data for testing sorting lists}} --}}
<p>Click the button to sort the list alphabetically:</p>
<button onclick="sortList()">TEST</button>
<button onclick="sortListLength()">LENGTH</button>
<ul id="cities">
    <li>Oslo</li>
    <li>Stockholm</li>
    <li>Helsinki</li>
    <li>Berlin</li>
    <li>Rome</li>
    <li>Madrid</li>
</ul>
<script src="/js/sortinglist.js"></script>