<h1>{{title}}</h1>
<h1>At Fecal Finder we believe you should be kind to your behind. Poop with us. </p>
{{!-- {{fixed data for testing sorting lists}} --}}
<p>Click to find your next shit</p>
<button onclick="sortList()">Places to poop</button>
<button onclick="sortListLength()">LENGTH</button>
<ul id="cities">
    <li>San Francisco</li>
    <li>Milwaukee</li>
    <li>Miami</li>
    <li>Danville</li>
    <li>Baltimore</li>
    
</ul>
<script src="/js/sortinglist.js"></script>
<script src="/js/dynamicObjectsort.js"></script>

