body {
  background-color: rgb(255, 153, 40);
  padding: 50px;
  font: 14px "Arial";
  -webkit-text-fill-color: whitesmoke;

  font-family: "Hanalei", cursive;
  font-family: "Permanent Marker", cursive;
  font-family: "Staatliches", cursive;
}
a {
  color: #00b7ff;


}

menu {
  background-color: rgb(26, 26, 26);
  font-family: "Staatliches", cursive;
}
